@import url('https://fonts.googleapis.com/css?family=Raleway');
/*************************************************************disable defaults*/
* {
    padding: 0;
    margin: 0;
}
/********************************************************body*/
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  line-height: 2em;
  font-size: 16pt;
  max-width: 1200px;
   
}

/************************************************************google fonts*/
header, body {
    font-family: 'Raleway', sans-serif;
}
/***********************************************************navigation*/
.navbar-brand {
    font-size: 34px;
}
.nav-item {
    font-size: 24px;
}

/****************************************************************footer*/
img {
    padding:1em;
}
footer {
  /*position: absolute;*/
  margin-bottom: 0;
  color: #fafafa;
  text-align: center;
  padding: .5em;
  clear:both;
  
  
 
}
footer ul {
    margin-top: 2em;
    text-align: center;
}
/******************************************************social link bubbles*/
.social-links li a i {
   width: 32px;
    height:32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/**************************************************contact form*/
.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form {
    padding-top: 10px;
    margin:0 auto;
    max-width: 70%;
    
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #684971;
}
.bg-color-pin {
    background-color: #bd081c;
}
.bg-color-mail {
     background-color: #f57d00;
}
.bg-color-twitter {
     background-color: #55acee;
}
.bg-color-facebook {
     background-color: #3b5998;
}
.bg-color-insta {
    background-color: #517fa4; 
}
.bg-color-youtube {
    background-color: #b31217; 
}
article {
    padding: 2em;
}

h1, h2{
 color:teal;
 margin: 1em; 
 text-align: center;
}
/************************************memeber images*/
.team{
 margin: 2em 0;
 position: relative;
 background-image: url("../images/micro.jpg");
}

.team .item{
 position: relative;
}
.team .des{
 background: teal;
 color: white;
 text-align: center;
 border-bottom-left-radius: 49%;
 border-top-right-radius: 49%;
}

