@import url('https://fonts.googleapis.com/css?family=Raleway');
/*************************************************************disable defaults*/
* {
    padding: 0;
    margin: 0;
}
/********************************************************body*/
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

/************************************************************google fonts*/
header, body {
    font-family: 'Raleway', sans-serif;
}
/***********************************************************navigation*/
.navbar-brand {
    font-size: 34px;
}
.nav-item {
    font-size: 24px;
}

/****************************************************************footer*/

footer {
  position: absolute;
  bottom: 0;
  color: #fafafa;
  text-align: center;
}
footer ul {
    margin-top: 1rem;
    text-align: center;
}
/******************************************************social link bubbles*/
.social-links li a i {
   width: 32px;
    height:32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #684971;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
/**************************************************contact form*/
.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form {
    padding-top: 10px;
    margin:0 auto;
    max-width: 70%;
    
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #684971;
}