@import url('https://fonts.googleapis.com/css?family=Raleway');
/*************************************************************disable defaults*/
* {
    padding: 0;
    margin: 0;
}
.navbar {
    padding: 0;
   
}
.form-control {
  margin: 1em;  
}
.bg {
    background-color: teal;
}
/********************************************************body*/
body {
  
  background-color: #b2d8d8;
}
.wrapper {
  background-color: #fafafa;
  max-width: 1400px;
  margin: 0;
  line-height: 2em;
  font-size: 16pt;
  margin: auto;
  min-height:100%;
   position:relative;
}
section div p {
    margin-top: .8em;
}
/************************************************************google fonts*/
header, body {
    font-family: 'Raleway', sans-serif;
}
/***********************************************************navigation*/
.navbar-brand {
    font-size: 34px;
    padding-left: .8em;
}
.nav-item {
    font-size: 24px;
}
.current {
    background-color: #545454;
}

/****************************************************************footer*/
img {
    padding:1em;
}
footer {
  /*position: absolute;*/
  margin-bottom: 0;
  color: #fafafa;
  text-align: center;
  padding: .5em;
  font-size: 10px;
}

footer ul {
    margin-top: 2em;
    text-align: center;
}
/******************************************************social link bubbles*/
.social-links li a i {
   width: 32px;
    height:32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
/*******************************************************table, events*/

.table {
    background-color: #b2d8d8;
    font-style: bold;
    color: black;
    margin-bottom: 0;
}
/**************************************************contact form*/
.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form {
    padding-top: 10px;
    margin:0 auto;
    max-width: 60%;
    
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 200px;
    color: #fafafa;
    background-color: #545454;
}
.bg-color-pin {
    background-color: #bd081c;
}
.bg-color-mail {
     background-color: #f57d00;
}
.bg-color-twitter {
     background-color: #55acee;
}
.bg-color-facebook {
     background-color: #3b5998;
}
.bg-color-insta {
    background-color: #517fa4; 
}
.bg-color-youtube {
    background-color: #b31217; 
}
article {
    padding: 1em;
}

h1, h2, h3 {
 color:teal;
 margin: 1em; 
 text-align: center;
 font-size: 2rem;
}
/************************************memeber images*/
.team{
 margin: 2em 0;
 position: relative;
 background-image: url("../images/micro.jpg");
}

.team .item{
 position: relative;
}
.team .des{
 background: teal;
 color: white;
 text-align: center;
 border-bottom-left-radius: 49%;
 border-top-right-radius: 49%;
}
@media only screen and (max-width: 840px){
    h1 {
        font-size: 1.9rem;
    }
    h5, h6 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 450px){
    h1 {
        font-size: 1.5rem;
    }
}
